.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(165, 165, 165, 0.1);
  padding-top: 2rem;
}
.footer-copyright p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}
.footer-icon {
  margin-inline: 30px;
}
